* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // font-size: 12px;
    font-size: 9pt;
}

a {
    text-decoration: none;
    color: #333333;
}

ul {
    list-style: none;
}

html,
body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    // min-width: 1200px;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.center {
    text-align: center;
}

.pagination {
    padding: 12px 8px;
}

.tool-bar {
    // margin-top: 8px;
    // margin-bottom: 8px;
    padding: 12px 8px;
    // background-color: #f4f6f9;
}


/* 过渡相关 */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.component-fade-enter-active,
.component-fade-leave-active {
    transition: opacity .3s ease;
}

.component-fade-enter,
.component-fade-leave-to
/* .component-fade-leave-active for below version 2.1.8 */

{
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in .3s;
}

.bounce-leave-active {
    animation: bounce-out .3s;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* 滚动槽 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}