header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #dcdee2;
}

.header__logo {
  margin-left: 16px;
  float: left;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

main .main__left {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

main .main__right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* .sider {
  height:100%;
} */

.content {
  padding: 8px;
  background: #f5f5f5;
  height: 100%;
  overflow-y: auto;
}

/* footer {
  background-color: #7cbce9;
  color: #ffffff;
} */

/* flex栅栏布局 */
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.row .col {
  flex: 1;
  padding-left: 16px;
}

.row .col-12 {
  flex: 0 0 100%;
  padding-left: 16px;
}

.row .col-9 {
  flex: 0 0 75%;
  padding-left: 16px;
}

.row .col-6 {
  flex: 0 0 50%;
  padding-left: 16px;
}

.row .col-4 {
  flex: 0 0 33.33333%;
  padding-left: 16px;
}

.row>:first-child {
  padding-left: 0px;
}

.row .col-3 {
  flex: 0 0 25%;
  padding-left: 16px;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .4);
  shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: white;
}

::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
  background-color: rgba(0, 0, 0, .01);
}