body {
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0%;
  height: 100vh;
}

.info-box {
  color: #ffffff;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box__inner {
  padding: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  width: 400px;
  height: 500px;
}