<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.colodoo.framework.manager.codeInfo.service.CodeInfoMapper">
  <resultMap id="BaseResultMap" type="com.colodoo.framework.manager.codeInfo.model.CodeInfo">
    <id column="code_info_id" jdbcType="VARCHAR" property="codeInfoId" />
    <result column="code_type_id" jdbcType="VARCHAR" property="codeTypeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="code_type_name" jdbcType="VARCHAR" property="codeTypeName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    code_info_id, ci.code_type_id, name, value, sort, ct.code_type_name
  </sql>
  <select id="selectByExample" parameterType="com.colodoo.framework.manager.codeInfo.model.CodeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from code_info ci left join code_type ct on ct.code_type_id = ci.code_type_id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from code_info
    where code_info_id = #{codeInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from code_info
    where code_info_id = #{codeInfoId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.colodoo.framework.manager.codeInfo.model.CodeInfoExample">
    delete from code_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.colodoo.framework.manager.codeInfo.model.CodeInfo">
    insert into code_info (code_info_id, code_type_id, name, 
      value, sort)
    values (#{codeInfoId,jdbcType=VARCHAR}, #{codeTypeId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.colodoo.framework.manager.codeInfo.model.CodeInfo">
    insert into code_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codeInfoId != null">
        code_info_id,
      </if>
      <if test="codeTypeId != null">
        code_type_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codeInfoId != null">
        #{codeInfoId,jdbcType=VARCHAR},
      </if>
      <if test="codeTypeId != null">
        #{codeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.colodoo.framework.manager.codeInfo.model.CodeInfoExample" resultType="java.lang.Long">
    select count(*) from code_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update code_info
    <set>
      <if test="record.codeInfoId != null">
        code_info_id = #{record.codeInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.codeTypeId != null">
        code_type_id = #{record.codeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update code_info
    set code_info_id = #{record.codeInfoId,jdbcType=VARCHAR},
      code_type_id = #{record.codeTypeId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      value = #{record.value,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.colodoo.framework.manager.codeInfo.model.CodeInfo">
    update code_info
    <set>
      <if test="codeTypeId != null">
        code_type_id = #{codeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where code_info_id = #{codeInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.colodoo.framework.manager.codeInfo.model.CodeInfo">
    update code_info
    set code_type_id = #{codeTypeId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER}
    where code_info_id = #{codeInfoId,jdbcType=VARCHAR}
  </update>
</mapper>