<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.colodoo.framework.manager.roleMenu.service.mapper.RoleMenuSQLMapper">

	<select id="getRoleMenuList" resultType="com.colodoo.framework.manager.roleMenu.model.RoleMenu" parameterType="com.colodoo.framework.manager.roleMenu.model.RoleMenuVO">
		select
			a.`role_menu_id` as `roleMenuId`,
			a.`role_id` as `roleId`,
			a.`menu_id` as `menuId`,
			a.`create_time` as `createTime`,
			a.`create_user_id` as `createUserId`,
			a.`update_time` as `updateTime`,
			a.`update_user_id` as `updateUserId`,
			a.`remark` as `remark`
		from
		    role_menu a
		<where>
			<trim suffixOverrides="and">
				<if test="roleMenuId != null and roleMenuId !=''">
				     a.`role_menu_id` = #{roleMenuId} and
				</if>
				<if test="roleId != null and roleId !=''">
				     a.`role_id` = #{roleId} and
				</if>
				<if test="menuId != null and menuId !=''">
				     a.`menu_id` = #{menuId} and
				</if>
				<if test="createTime != null and createTime !=''">
				     a.`create_time` = #{createTime} and
				</if>
				<if test="createUserId != null and createUserId !=''">
				     a.`create_user_id` = #{createUserId} and
				</if>
				<if test="updateTime != null and updateTime !=''">
				     a.`update_time` = #{updateTime} and
				</if>
				<if test="updateUserId != null and updateUserId !=''">
				     a.`update_user_id` = #{updateUserId} and
				</if>
				<if test="remark != null and remark !=''">
				     a.`remark` = #{remark} and
				</if>
			</trim>
		</where>

	</select>

</mapper>