<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.colodoo.manager.script.service.ScriptMapper">
  <resultMap id="BaseResultMap" type="com.colodoo.manager.script.model.Script">
    <id column="script_id" jdbcType="VARCHAR" property="scriptId" />
    <result column="script_name" jdbcType="VARCHAR" property="scriptName" />
    <result column="script_type" jdbcType="VARCHAR" property="scriptType" />
    <result column="bug_id" jdbcType="VARCHAR" property="bugId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.colodoo.manager.script.model.Script">
    <result column="script_content" jdbcType="LONGVARCHAR" property="scriptContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    script_id, script_name, script_type, bug_id, create_time, create_user_id, update_time, 
    update_user_id, remark
  </sql>
  <sql id="Blob_Column_List">
    script_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.colodoo.manager.script.model.ScriptExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from script
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.colodoo.manager.script.model.ScriptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from script
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from script
    where script_id = #{scriptId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from script
    where script_id = #{scriptId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.colodoo.manager.script.model.ScriptExample">
    delete from script
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.colodoo.manager.script.model.Script">
    insert into script (script_id, script_name, script_type, 
      bug_id, create_time, create_user_id, 
      update_time, update_user_id, remark, 
      script_content)
    values (#{scriptId,jdbcType=VARCHAR}, #{scriptName,jdbcType=VARCHAR}, #{scriptType,jdbcType=VARCHAR}, 
      #{bugId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{scriptContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.colodoo.manager.script.model.Script">
    insert into script
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scriptId != null">
        script_id,
      </if>
      <if test="scriptName != null">
        script_name,
      </if>
      <if test="scriptType != null">
        script_type,
      </if>
      <if test="bugId != null">
        bug_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="scriptContent != null">
        script_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scriptId != null">
        #{scriptId,jdbcType=VARCHAR},
      </if>
      <if test="scriptName != null">
        #{scriptName,jdbcType=VARCHAR},
      </if>
      <if test="scriptType != null">
        #{scriptType,jdbcType=VARCHAR},
      </if>
      <if test="bugId != null">
        #{bugId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="scriptContent != null">
        #{scriptContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.colodoo.manager.script.model.ScriptExample" resultType="java.lang.Long">
    select count(*) from script
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update script
    <set>
      <if test="record.scriptId != null">
        script_id = #{record.scriptId,jdbcType=VARCHAR},
      </if>
      <if test="record.scriptName != null">
        script_name = #{record.scriptName,jdbcType=VARCHAR},
      </if>
      <if test="record.scriptType != null">
        script_type = #{record.scriptType,jdbcType=VARCHAR},
      </if>
      <if test="record.bugId != null">
        bug_id = #{record.bugId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.scriptContent != null">
        script_content = #{record.scriptContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update script
    set script_id = #{record.scriptId,jdbcType=VARCHAR},
      script_name = #{record.scriptName,jdbcType=VARCHAR},
      script_type = #{record.scriptType,jdbcType=VARCHAR},
      bug_id = #{record.bugId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      script_content = #{record.scriptContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update script
    set script_id = #{record.scriptId,jdbcType=VARCHAR},
      script_name = #{record.scriptName,jdbcType=VARCHAR},
      script_type = #{record.scriptType,jdbcType=VARCHAR},
      bug_id = #{record.bugId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.colodoo.manager.script.model.Script">
    update script
    <set>
      <if test="scriptName != null">
        script_name = #{scriptName,jdbcType=VARCHAR},
      </if>
      <if test="scriptType != null">
        script_type = #{scriptType,jdbcType=VARCHAR},
      </if>
      <if test="bugId != null">
        bug_id = #{bugId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="scriptContent != null">
        script_content = #{scriptContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where script_id = #{scriptId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.colodoo.manager.script.model.Script">
    update script
    set script_name = #{scriptName,jdbcType=VARCHAR},
      script_type = #{scriptType,jdbcType=VARCHAR},
      bug_id = #{bugId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      script_content = #{scriptContent,jdbcType=LONGVARCHAR}
    where script_id = #{scriptId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.colodoo.manager.script.model.Script">
    update script
    set script_name = #{scriptName,jdbcType=VARCHAR},
      script_type = #{scriptType,jdbcType=VARCHAR},
      bug_id = #{bugId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where script_id = #{scriptId,jdbcType=VARCHAR}
  </update>
</mapper>