<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.colodoo.manager.script.service.mapper.ScriptSQLMapper">

	<select id="getScriptList" resultType="com.colodoo.manager.script.model.Script" parameterType="com.colodoo.manager.script.model.ScriptVO">
		select
			a.`script_id` as `scriptId`,
			a.`script_name` as `scriptName`,
			a.`script_content` as `scriptContent`,
			a.`script_type` as `scriptType`,
			a.`bug_id` as `bugId`,
			a.`create_time` as `createTime`,
			a.`create_user_id` as `createUserId`,
			a.`update_time` as `updateTime`,
			a.`update_user_id` as `updateUserId`,
			a.`remark` as `remark`
		from
		    script a
		<where>
			<trim suffixOverrides="and">
				<if test="scriptId != null and scriptId !=''">
					a.`script_id` like CONCAT(CONCAT('%', #{scriptId}), '%') and
				</if>
				<if test="scriptName != null and scriptName !=''">
					a.`script_name` like CONCAT(CONCAT('%', #{scriptName}), '%') and
				</if>
				<if test="scriptContent != null and scriptContent !=''">
					a.`script_content` = #{scriptContent} and
				</if>
				<if test="scriptType != null and scriptType !=''">
					a.`script_type` like CONCAT(CONCAT('%', #{scriptType}), '%') and
				</if>
				<if test="bugId != null and bugId !=''">
					a.`bug_id` like CONCAT(CONCAT('%', #{bugId}), '%') and
				</if>
				<if test="createTime != null">
					a.`create_time` = #{createTime} and
				</if>
				<if test="createUserId != null and createUserId !=''">
					a.`create_user_id` like CONCAT(CONCAT('%', #{createUserId}), '%') and
				</if>
				<if test="updateTime != null">
					a.`update_time` = #{updateTime} and
				</if>
				<if test="updateUserId != null and updateUserId !=''">
					a.`update_user_id` like CONCAT(CONCAT('%', #{updateUserId}), '%') and
				</if>
				<if test="remark != null and remark !=''">
					a.`remark` like CONCAT(CONCAT('%', #{remark}), '%') and
				</if>
			</trim>
		</where>

	</select>

</mapper>